target/classes/jdeProcessFlag/sendProcessFlag.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jde="http://www.mulesoft.org/schema/mule/jde"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jde http://www.mulesoft.org/schema/mule/jde/current/mule-jde.xsd">
	<flow name="sendProcessFlag" doc:id="93a4ac87-e2e3-46b0-a8ec-84742a555272" >
		<logger level="INFO" doc:name="Logger" doc:id="5da01810-d587-4534-aa87-cede4c509428" message="+++ Entering Send Process Flag to JDE +++"/>
		<ee:transform doc:name="Transform Message" doc:id="ca5db39e-a820-4c84-9f16-c24a0bb8deae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
{
	"_BSFNThrowExceptionWithErrorsYN": "Y",
	cInterface: if(vars.buisObj == "CustomerMaster") ("1") else if (vars.buisObj == "VehicleMaster") ("2") else "3",
	szCDMessageResponse:  if (vars.vStatus== "Y") "Successfully posted MasterData to ConcreteDirect system"  else substring(vars.errorDesc,0,160) ,
	cCDRecordProcessed: vars.vStatus,
	mnCDSequenceNumber: vars.sequence_num as Number default "",
}	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f1f52fee-c85b-4b81-8450-7260704ccfff" message="+++Sequencenumber - #[vars.sequence_num], #[payload]+++" />
		<jde:call-bsfn doc:name="Call bsfn" doc:id="5764cfa3-777f-4436-82c4-cba136fa0b28" config-ref="JDE_Config" bsfnName="CDInboundResponse">
			<reconnect frequency="10000" count="5" />
		</jde:call-bsfn>	
		<logger level="INFO" doc:name="Logger" doc:id="5bb33129-bfa8-4dc9-93c7-d3fe3a397a6a" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="62f81688-3e3c-477a-93f6-2528b4171c7a" message="+++ Flag set in JDE E1 +++"/>
	
</flow>
</mule>
